@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital@1&family=Poppins&display=swap');

body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.imgWeather {
    width: 100px;
    height: auto;
}

body {
    background-image: url('/images/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin-top: 100px;
    font-size: 1.8rem;
    color:white;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
    -3px 0px 7px rgba(81,67,21,0.8), 
    0px 4px 7px rgba(81,67,21,0.8); 
}

.title {
    display: flex;
    align-items:last baseline;
    justify-content: center;
    gap: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

.cursive {
    font-family: 'Playfair Display', serif;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color:white;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
    -3px 0px 7px rgba(81,67,21,0.8), 
    0px 4px 7px rgba(81,67,21,0.8); 
}