@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background-color: #0077b6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc-weather {
    margin: 20px auto -18px;
}

.grades {
    display: flex;
    gap: 10px;
    align-items: end;
}

#forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-info {
    display: flex;
    margin-top: 50px;
    gap: 200px;
}

form {
    text-align: center;
    margin: 50px auto 10px;
}